-server
-Xmx2844M
-XX:InitialRAMPercentage=64
-XX:MaxRAMPercentage=70
-XX:G1HeapRegionSize=16M
-XX:+ExplicitGCInvokesConcurrent
-XX:+ExitOnOutOfMemoryError
-XX:+HeapDumpOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-XX:ReservedCodeCacheSize=128M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Dfile.encoding=UTF-8
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=1000000
-XX:+UnlockDiagnosticVMOptions
-XX:G1NumCollectionsKeepPinned=10000000
-XX:+UseAESCTRIntrinsics
-XX:GCLockerRetryAllocationCount=32
-XX:+EnableDynamicAgentLoading
--add-opens=java.base/java.nio=ALL-UNNAMED
